{
    "swagger": "2.0",
    "info": {
        "title": "Comms",
        "description": "Retrieve details about communications",
        "version": "1.0.0"
    },
    "host": "api.bris.tech:8080",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/threads": {
            "post": {
                "tags": [
                    "comms"
                ],
                "summary": "Adds a communication thread",
                "description": "Creates a communication thread",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The communication correspondence",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Correspondence"
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Communication thread successfully created",
                        "schema": {
                            "$ref": "#/definitions/ThreadCreated"
                        }
                    },
                    "422": {
                        "description": "Communication thread validation error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/threads/{threadId}": {
            "get": {
                "tags": [
                    "comms"
                ],
                "summary": "Returns details of the specified communication thread",
                "description": "Returns all correspondence within a communication thread",
                "parameters": [
                    {
                        "in": "path",
                        "name": "threadId",
                        "description": "The communication thread identifier",
                        "required": true,
                        "type": "string",
                        "format": "guid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Communication thread found",
                        "schema": {
                            "$ref": "#/definitions/ThreadDetail"
                        }
                    },
                    "404": {
                        "description": "Communication thread not found",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/last-contact": {
            "get": {
                "tags": [
                    "comms"
                ],
                "summary": "Retrieves the last contact date for all communication threads",
                "description": "The last contact date for all communication threads includes the thread identifier, the date of the last contact in that thread, and the sender and receiver of the last contact in the thread.\n",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LastContactSummary"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Correspondence": {
            "type": "object",
            "properties": {
                "senderId": {
                    "type": "string",
                    "format": "guid",
                    "description": "The identifier of the sender"
                },
                "receiverId": {
                    "type": "string",
                    "format": "guid",
                    "description": "The identifier of the reciever"
                },
                "type": {
                    "type": "string",
                    "description": "The type of correspondence",
                    "enum": [
                        "email",
                        "mobile",
                        "twitter",
                        "meetup"
                    ]
                },
                "senderHandle": {
                    "type": "string",
                    "description": "The handle of the sender. E.g. if the type of correspondence is 'email', then this will be the email address of the sender. If the type of correspondence is twitter, then this will be the twitter handle of the sender."
                },
                "receiverHandle": {
                    "type": "string",
                    "description": "The handle of the receiver."
                },
                "date": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "ThreadDetail": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "format": "guid",
                    "description": "The unique communication thread identifier"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Correspondence"
                    }
                }
            }
        },
        "ThreadCreated": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "The unique identifier"
                }
            }
        },
        "LastContactSummary": {
            "type": "object",
            "properties": {
                "threadId": {
                    "type": "string",
                    "format": "guid",
                    "description": "The communication thread identifier."
                },
                "date": {
                    "type": "string",
                    "format": "date",
                    "description": "The date of the last communication."
                },
                "senderId": {
                    "type": "string",
                    "format": "guid",
                    "description": "The identifier of the sender"
                },
                "receiverId": {
                    "type": "string",
                    "format": "guid",
                    "description": "The identifier of the receiver"
                }
            }
        },
        "Error": {
            "type": "object",
            "required": [
                "message"
            ],
            "properties": {
                "message": {
                    "type": "string"
                },
                "errors": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ErrorDetail"
                    }
                }
            }
        },
        "ErrorDetail": {
            "type": "object",
            "required": [
                "resource",
                "code",
                "message"
            ],
            "properties": {
                "resource": {
                    "type": "string",
                    "description": "The resource being accessed"
                },
                "field": {
                    "type": "string",
                    "description": "Optional field used for invalid or missing fields"
                },
                "code": {
                    "type": "string",
                    "description": "Can be missing (i.e. a resource is missing), missing-field (a required field was not sent in the request), invalid (the specified field does not pass validation or already-exists (the resource already exists).",
                    "enum": [
                        "missing",
                        "missing-field",
                        "invalid",
                        "already-exists"
                    ]
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}