<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="Comms.exe.secrets">
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:write-to:ColoredConsole" />
    <!-- ServiceUrl -->
    <!-- Prod and Local Swarm -->
    <add key="BaseUrl" value="http://*:8080" />
    <!-- Dev -->
    <!--<add key="BaseUrl" value="http://*:8082" />-->

    <!-- DynamoDb config -->
    <!-- Prod-->
    <add key="LocalDynamoDbUrl" value=""/>
    <!-- Local Dev-->
    <!--<add key="LocalDynamoDbUrl" value="http://localhost:7000"/>-->
    <!-- Local Swarm with Db-->
    <!--<add key="LocalDynamoDbUrl" value="http://srm-dynamo:7000"/>-->
  </appSettings>
</configuration>
